TencentGR_1k/creative_emb/emb_82_1024/
TencentGR_1k/creative_emb/emb_83_3584/
TencentGR_1k/creative_emb/emb_84_4096/
TencentGR_1k/creative_emb/emb_85_4096/
TencentGR_1k/creative_emb/emb_86_3584/
eval_result/
